---
layout: default
---
<div class="splash md-whiteframe-z3">
    <div class="navbar hidden">
        <img class="logo" src="img/logo.png" height="50">
        </img>
        <a class="btn" href="#features">Features</a>
        <a class="btn" href="#pricing">Pricing</a>
        <a class="btn" href="#start">Get started</a>
        {% include social.html %}
    </div>
    <div class="wrapper-1 hidden">
        <div class="wrapper-2 md-whiteframe-z5">
            <div class="wrapper-3 md-whiteframe-z1">
                <div class="margin"></div>
                <div class="pen"></div>
                <div class="scroller">
                    <pre class="content"></pre>
                </div>
            </div>
            <div class="hole hole-1 md-whiteframe-z2"></div>
            <div class="hole hole-2 md-whiteframe-z2"></div>
            <div class="tab">
            </div>
        </div>
    </div>
</div>
<div id="page" class="page">
    <div class="container">
        <div class="heading1" id="features">
            Start writing
            <br>notes, docs, blogs
            <br>quickly using Markdown.
        </div>
        <div class="tile-container">
            <div class="tile option hidden">
                <div>
                    <img class="md-whiteframe-z1" width="320" height="320" src="img/explorer.png">
                </div>
                Intuitive design.
            </div>
            <div class="tile option hidden">
                <div>
                    <img class="md-whiteframe-z1" width="320" height="320" src="img/editor.gif">
                </div>
                First-class editor.
            </div>
            <div class="tile option hidden">
                <div>
                    <img class="md-whiteframe-z1" width="320" height="320" src="img/collaborate.gif">
                </div>
                Share, collaborate...
            </div>
            <div class="tile option hidden">
                <div>
                    <img class="md-whiteframe-z1" width="320" height="320" src="img/blog.png">
                </div>
                ...and publish.
            </div>
        </div>
        <div class="heading1" id="pricing">
            Pricing
        </div>
        <div class="perspective flex-column center">
            <div flex="" class="standard plan item md-whiteframe-z1 plastic-4 flex-column">
                <div class="header flex-column center">
                    <div class="name">
                        Standard
                    </div>
                    <div class="price">
                        Free
                    </div>
                </div>
                <div class="body flex-column" flex="">
                    <ul flex="">
                        <li>Unlimited files and folders</li>
                        <li>Share publicly</li>
                        <li>1 blog</li>
                        <li>Unlimited blog posts</li>
                        <li>Export to PDF, Word, EPUB (5KB content limit)</li>
                        <li><a target="_blank" href="http://classeur.io/help/rest-api/">REST API</a> (read only)</li>
                    </ul>
                    <a class="btn" href="#start">Get started</a>
                </div>
            </div>
            <div flex="" class="premium plan item md-whiteframe-z5 plastic-0 flex-column">
                <div class="header flex-column center">
                    <div class="name">
                        Premium
                    </div>
                    <div class="price">
                        $5
                    </div>
                    <div>
                        per month
                    </div>
                </div>
                <div class="body flex-column" flex="">
                    <ul flex="">
                        <li>Unlimited files and folders</li>
                        <li>Share publicly</li>
                        <li><b>Real-time collaboration</b></li>
                        <li><b>Unlimited blogs and posts</b></li>
                        <li>Export to PDF, Word, EPUB <b>(no content limit)</b></li>
                        <li><a target="_blank" href="http://classeur.io/help/rest-api/">REST API</a> (read/write coming soon)</li>
                    </ul>
                    <a class="btn" href="#start">Get started</a>
                </div>
            </div>
            <div flex="" class="enterprise plan item md-whiteframe-z1 plastic-1 flex-column">
                <div class="header flex-column center">
                    <div class="name">
                        Enterprise
                    </div>
                    <div>
                        starting at
                    </div>
                    <div class="price">
                        $1,800
                    </div>
                    <div>
                        per year
                    </div>
                </div>
                <div class="body flex-column" flex="">
                    <ul flex="">
                        <li><b>On-premises or Cloud deployment</b></li>
                        <li><b>Google Apps or LDAP/AD login</b></li>
                        <li><b>Internal or external DB</b></li>
                        <li><b>Automatic backup</b></li>
                        <li><b>Admin console</b></li>
                        <li><b>Support</b></li>
                    </ul>
                    <a class="btn" target="_blank" href="http://classeur.io/help/enterprise/">Get started</a>
                </div>
            </div>
        </div>
        <div class="discount md-whiteframe-z1 warning">
            <p>
                We offer discounts for large organizations, universities, non-profits...
            </p>
            <a class="btn" href="mailto:contact@classeur.io">
                <div class="icon icon-email"></div>
                contact us
            </a>
        </div>
    </div>
    <div class="container narrow">
        <div class="heading1" id="start">
            Start now!
        </div>
        <a class="start option browser hidden" href="https://app.classeur.io">
            <div class="icon icon-open-in-browser">
            </div>
            <div class="text">
                <div>Start</div>
                <div class="small">in the browser</div>
            </div>
        </a>
        <a class="start option osx hidden no-display" href="http://download.classeur.io/download/osx">
            <div class="icon icon-desktop-mac">
            </div>
            <div class="text">
                <div>Install</div>
                <div class="small">for Mac OS X</div>
            </div>
        </a>
        <a class="start option windows hidden no-display" onclick="alert('Coming shortly!')">
            <div class="icon icon-desktop-windows">
            </div>
            <div class="text">
                <div>Install</div>
                <div class="small">for Windows</div>
            </div>
        </a>
        <a class="start option linux hidden no-display" onclick="alert('Coming shortly!')">
            <div class="icon icon-laptop">
            </div>
            <div class="text">
                <div>Install</div>
                <div class="small">for Linux</div>
            </div>
        </a>
        <a class="start option chrome hidden no-display" href="https://chrome.google.com/webstore/detail/classeur/fkpffpbnlbpdhnommmbeookgmomeccid">
            <div class="icon icon-laptop-mac">
            </div>
            <div class="text">
                <div>Install</div>
                <div class="small">for Chrome</div>
            </div>
        </a>
        <a class="start option firefox hidden no-display" href="https://marketplace.firefox.com/app/classeur/">
            <div class="icon icon-laptop">
            </div>
            <div class="text">
                <div>Install</div>
                <div class="small">for Firefox</div>
            </div>
        </a>
    </div>
    <div class="container">
        {% include footer.html %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>
<script src="js/cledit.js"></script>
<script src="js/prism-core.js"></script>
<script src="js/mdGrammar.js"></script>
<script src="js/bezier-easing.js"></script>
<script src="js/clanim.js"></script>
<script src="js/index.js"></script>
