---
layout: default
---
<div class="splash">
    <div class="header hidden">
        <img class="logo" src="img/logo.png" height="60">
        </img>
        {% include social.html %}
    </div>
    <div class="wrapper-1 hidden">
        <div class="wrapper-2">
            <div class="wrapper-3">
                <div class="margin"></div>
                <div class="pen"></div>
                <div class="scroller">
                    <pre class="content"></pre>
                </div>
            </div>
            <div class="hole hole-1"></div>
            <div class="hole hole-2"></div>
            <div class="tab">
            </div>
        </div>
    </div>
    <a class="start btn hidden" href="#page">
        <div class="icon icon-arrow-forward"></div>
    </a>
</div>
<div id="page" class="page">
    <div class="container">
        <div class="heading1">
            Start writing
            <br>notes, docs, blogs
            <br>quickly using Markdown.
        </div>
        <div class="tile-container">
            <div class="tile option hidden">
                <div>
                    <img width="320" height="320" src="img/explorer.png">
                </div>
                Intuitive design.
            </div>
            <div class="tile option hidden">
                <div>
                    <img width="320" height="320" src="img/editor.gif">
                </div>
                First-class editor.
            </div>
            <div class="tile option hidden">
                <div>
                    <img width="320" height="320" src="img/collaborate.gif">
                </div>
                Share, collaborate...
            </div>
            <div class="tile option hidden">
                <div>
                    <img width="320" height="320" src="img/blog.png">
                </div>
                ...and publish.
            </div>
        </div>
    </div>
    <div class="container narrow">
        <div class="heading1">
            Start now!
        </div>
        <a class="start option browser hidden" href="https://app.classeur.io">
            <div class="icon icon-open-in-browser">
            </div>
            <div class="text">
                <div>Start</div>
                <div class="small">in the browser</div>
            </div>
        </a>
        <a class="start option osx hidden no-display" onclick="alert('Coming shortly!')">
            <div class="icon icon-desktop-mac">
            </div>
            <div class="text">
                <div>Install</div>
                <div class="small">for Mac OS X</div>
            </div>
        </a>
        <a class="start option windows hidden no-display" onclick="alert('Coming shortly!')">
            <div class="icon icon-desktop-windows">
            </div>
            <div class="text">
                <div>Install</div>
                <div class="small">for Windows</div>
            </div>
        </a>
        <a class="start option linux hidden no-display" onclick="alert('Coming shortly!')">
            <div class="icon icon-laptop">
            </div>
            <div class="text">
                <div>Install</div>
                <div class="small">for Linux</div>
            </div>
        </a>
        <a class="start option chrome hidden no-display" href="https://chrome.google.com/webstore/detail/classeur/fkpffpbnlbpdhnommmbeookgmomeccid">
            <div class="icon icon-laptop-mac">
            </div>
            <div class="text">
                <div>Install</div>
                <div class="small">for Chrome</div>
            </div>
        </a>
        <a class="start option firefox hidden no-display" href="https://marketplace.firefox.com/app/classeur/">
            <div class="icon icon-laptop">
            </div>
            <div class="text">
                <div>Install</div>
                <div class="small">for Firefox</div>
            </div>
        </a>
    </div>
    <div class="container">
        {% include footer.html %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>
<script src="js/cledit.js"></script>
<script src="js/prism-core.js"></script>
<script src="js/mdGrammar.js"></script>
<script src="js/bezier-easing.js"></script>
<script src="js/clanim.js"></script>
<script src="js/index.js"></script>
