@import 'bourbon';
$text-color: #555;
$small-width: 420px;
$medium-width: 600px;
$large-width: 780px;
$left-column-width: 220px;

body {
  background-color: rgb(245, 245, 245);
  color: $text-color;
  font-family: 'Roboto', sans-serif;
  font-variant-ligatures: common-ligatures;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.7;
  margin: 0;
  tab-size: 4;
  text-align: justify;

  @include prefixer(font-smoothing, antialiased, webkit);
  @include prefixer(osx-font-smoothing, grayscale, moz);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #316ed3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  letter-spacing: -0.04em;
}

strong,
b,
th,
dt {
  font-weight: 500;
}

[class*=language-] {
  * {
    // scss-lint:disable ImportantRule
    font-weight: 400 !important;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #708090;
  }

  .token.punctuation {
    color: #999;
  }

  .namespace {
    opacity: 0.7;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #905;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #690;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #a67f59;
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #07a;
  }

  .token.function {
    color: #dd4a68;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #e90;
  }

  .token.important,
  .token.bold {
    font-weight: 500;
  }

  .token.italic {
    font-style: italic;
  }
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  position: relative;

  &.narrow {
    max-width: 640px;
  }
}

.left-column {
  max-height: 100%;
  overflow: auto;
  padding-bottom: 80px;
  position: fixed;
  top: 0;
  width: $left-column-width;
  z-index: 1;

  .logo {
    margin-bottom: 10px;
    width: 100%;

    img {
      height: 49px;
      margin: 16px 0;
      width: 170px;
    }
  }

  .btn {
    color: rgba(85, 85, 85, 0.5);
    display: block;
    padding: 8px;

    &.active {
      color: #555;
      cursor: default;
    }

    &.active:hover {
      background-color: transparent;
    }
  }

  .header {
    color: rgba(85, 85, 85, 0.5);
    display: block;
    padding: 6px;
    padding-left: 16px;
    text-decoration: none;

    &:hover {
      color: rgba(85, 85, 85, 0.75);
    }

    &.small {
      font-size: 0.8em;
      padding: 2px;
      padding-left: 24px;
    }

    &:last-child {
      margin-bottom: 16px;
    }
  }
}

.right-column {
  font-size: 1.05em;
  padding-left: $left-column-width + 40;

  .title {
    font-size: 46px;
    margin: 8px 0 1.3em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.3em 0;
  }

  td,
  th {
    padding: 8px;
  }

  td {
    border-top: 1px solid rgba(0, 0, 0, 0.05);

    em {
      color: rgba(0, 0, 0, 0.5);
      display: block;
      font-style: normal;
    }
  }

  blockquote {
    border-left: 5px solid rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.5);
    margin-left: 0;
    padding-left: 2em;

    code {
      color: #505050;
    }
  }

  img {
    max-width: 100%;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
    font-weight: 400;
  }

  code {
    background: rgba(0, 0, 0, 0.033);
    border-radius: 4px;
    padding: 2px 4px;
  }

  pre > code {
    background: rgba(0, 0, 0, 0.033);
    display: block;
    overflow-x: auto;
    padding: 0.5em;

    @include prefixer(text-size-adjust, none, webkit);
  }
}

.footer {
  margin-top: 140px;
  padding: 0 5px;

  .left {
    float: left;
  }
}

.md-whiteframe-z1,
.start.option {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.md-whiteframe-z2 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);
}

.md-whiteframe-z3,
.start.option:hover {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.14), 0 6px 10px 0 rgba(0, 0, 0, 0.098), 0 1px 18px 0 rgba(0, 0, 0, 0.084);
}

.md-whiteframe-z4 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.14), 0 8px 10px 1px rgba(0, 0, 0, 0.098), 0 3px 14px 2px rgba(0, 0, 0, 0.084);
}

.md-whiteframe-z5 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.14), 0 16px 24px 2px rgba(0, 0, 0, 0.098), 0 6px 30px 5px rgba(0, 0, 0, 0.084);
}
