.scroller {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.content {
  color: rgba(0, 0, 0, 0.73);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  margin: 0 auto;
  padding: 50px 100px 200px;
  white-space: pre-wrap;
  width: 800px;
  word-break: normal;
  word-wrap: break-word;
}

* {
  line-height: 1.5;
}

pre:focus {
  outline: none;
}

.code {
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
}

.pre {
  color: #555;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  word-break: break-all;
}

.pre [class*='language-'] {
  color: #2f2f2f;
}

.pre * {
  font-size: inherit !important;
}

.tag {
  color: #555;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  font-weight: 500;
}

.tag .punctuation,
.tag .attr-value,
.tag .attr-name {
  font-weight: 300;
}

.latex,
.math {
  color: #555;
}

.entity {
  color: #555;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  font-style: italic;
}

.table {
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
}

.table * {
  font-size: inherit;
}

.comment {
  color: rgba(85, 85, 85, 0.4);
}

.keyword {
  color: #2f2f2f;
  font-weight: 500;
}

.code,
.img,
.imgref,
.cl-toc {
  background-color: #eee;
  border-radius: 4px;
  padding: 0.15em 0;
}

.cl-toc {
  font-size: 2.8em;
  padding: 0.15em;
}

.blockquote {
  color: rgba(0, 0, 0, 0.58);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}

.h1,
.h11 {
  font-size: 2em;
}

.h2,
.h22 {
  font-size: 1.5em;
}

.h3 {
  font-size: 1.17em;
}

.h4 {
  font-size: 1em;
}

.h5 {
  font-size: 0.83em;
}

.h6 {
  font-size: 0.75em;
}

.cl-hash {
  color: rgba(85, 85, 85, 0.4);
}

.cl,
.hr {
  color: rgba(85, 85, 85, 0.4);
  font-style: normal;
  font-weight: 300;
}

.em,
.em .cl {
  font-style: italic;
}

.strong,
.strong .cl,
.term {
  font-weight: 500;
}

.cl-del-text {
  text-decoration: line-through;
}

.url,
.email,
.cl-underlined-text {
  text-decoration: underline;
}

.linkdef .url {
  color: rgba(85, 85, 85, 0.4);
}

.fn,
.inlinefn,
.sup {
  font-size: smaller;
  position: relative;
  top: -0.5em;
}

.sub {
  bottom: -0.25em;
  font-size: smaller;
  position: relative;
}

.img {
  display: inline-block;
}

.img,
.imgref,
.link,
.linkref {
  color: rgba(85, 85, 85, 0.4);
}

.img .cl-underlined-text,
.link .cl-underlined-text {
  color: #2f2f2f;
}

.cl-title {
  color: #555;
}
