@import 'bourbon';

.hidden {
  visibility: hidden;
}

.no-display {
  // scss-lint:disable ImportantRule
  display: none !important;
}

.btn {
  border-radius: 3px;
  color: $text-color;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 12px 8px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    background-color: rgba(158, 158, 158, 0.125);
  }
}

br {
  line-height: 1;
}

.social {
  float: right;
  font-size: 28px;
  margin: 6px 10px 0;

  a {
    color: #555;
    padding-left: 12px;
    text-decoration: none;

    &:hover {
      color: #2196f3;
    }
  }
}

.navbar {
  height: 20%;
  opacity: 0;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 100%;
  z-index: 2;

  .logo {
    background: url('../img/logo-white.png');
    background-size: 150px 40px;
    display: inline-block;
    height: 40px;
    margin: 0 20px;
    width: 150px;
  }

  .social {
    line-height: 1;
    margin: 12px 20px;
    position: absolute;
    right: 0;
    top: 0;

    a {
      color: #fff;
    }
  }

  .btn {
    background-color: rgba(255, 255, 255, 0.1);
    bottom: 0;
    color: #fff;
    font-size: 1.5em;
    left: 50%;
    letter-spacing: 0.02em;
    padding: 12px 20px;
    position: absolute;
    transform: translateX(-50%);

    &:hover {
      background-color: rgba(255, 255, 255, 0.125);
    }
  }
}

.splash {
  background-color: #000;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;

  .background {
    height: 100%;
    position: absolute;
    width: 100%;

    @include background(url('../img/light_noise_diagonal.png'), linear-gradient(top, #70849a, #425365), center no-repeat #e1f2f1 scroll);
  }

  .wrapper-1 {
    height: 1200px;
    left: 50%;
    margin-left: -320px;
    position: absolute;
    width: 640px;
  }

  .wrapper-2 {
    background-color: #b0bac7;
    border-radius: 4px;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .wrapper-3 {
    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    height: 100%;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 632px;
  }

  .hole {
    background-color: #b0bac7;
    border-radius: 10px;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2), inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), inset 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    height: 18px;
    left: 26px;
    position: absolute;
    width: 18px;
  }

  .hole-1 {
    top: 180px;
  }

  .hole-2 {
    top: 600px;
  }

  .tab {
    background-color: #b0bac7;
    box-shadow: 2px 4px 5px -3px rgba(0, 0, 0, 0.1), 1px 3px 2px -1px rgba(0, 0, 0, 0.07), 0 3px 1px -2px rgba(0, 0, 0, 0.06);
    height: 130px;
    position: absolute;
    right: -22px;
    top: 20px;
    width: 22px;

    @include border-right-radius(4px);
    @include border-left-radius(0);
  }

  .pen {
    background: url('../img/pen.png');
    background-size: 36px 360px;
    height: 360px;
    left: 58px;
    position: absolute;
    top: -32px;
    width: 36px;
  }

  .margin {
    background-color: #ffe5da;
    height: 100%;
    left: 133px;
    position: absolute;
    width: 1px;
  }

  .scroller::before {
    background: url('../img/logo.png');
    background-size: 350px 100px;
    content: '';
    height: 100px;
    left: 130px;
    position: absolute;
    top: 45px;
    width: 350px;
  }

  .content {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-variant-ligatures: common-ligatures;
    margin: 0 auto;
    padding: 205px 15px 120px 133px;
    width: auto;
  }
}

.video {
  margin-top: 100px;
}

$start-option-height: 180px;
$start-option-height-small: 120px;
$start-option-height-medium: 150px;

.page {
  background-color: rgb(245, 245, 245);
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;

  * {
    line-height: 1.7;
  }

  .light {
    background-color: #fff;
    margin: 80px 0;
    padding: 40px 0;

    .heading1 {
      margin: 20px 0 40px;
    }
  }

  .heading1 {
    font-size: 2.7em;
    font-weight: 400;
    letter-spacing: -0.04em;
    margin: 80px 0;

    @media (max-width: $small-width) {
      font-size: 38px;
    }
  }

  .tile-container {
    &::after {
      clear: both;
      content: ' ';
      display: block;
      font-size: 0;
      height: 0;
      visibility: hidden;
    }

    .tile {
      float: left;
      width: 100%;

      img {
        border-radius: 50%;
      }

      @media (min-width: 900px) {
        width: 33%;
      }
    }
  }

  .tile {
    margin: auto;
    margin-bottom: 100px;

    img {
      border-radius: 3px;
    }

    p {
      margin: auto;
      max-width: 260px;
    }
  }

  [flex] {
    box-sizing: border-box;

    @include flex(1);
  }

  .flex-column {
    @include display(flex);
    @include flex-direction(column);

    &.center {
      @include align-items(center);
      @include justify-content(center);
    }
  }

  @media (min-width: $large-width) {
    .perspective.flex-column {
      perspective: 1500px;

      @include display(flex);
      @include flex-direction(row);
    }
  }

  .start.option {
    background-color: #fff;
    border-radius: 3px;
    color: $text-color;
    cursor: pointer;
    display: block;
    font-size: 40px;
    height: $start-option-height;
    margin: 30px 0;
    position: relative;
    text-decoration: none;
    transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;

    .text {
      font-weight: normal;
      padding-top: 0.85em;
    }

    @media (max-width: $medium-width) {
      font-size: 33px;
      height: $start-option-height-medium;
    }

    @media (max-width: $small-width) {
      font-size: 26px;
      height: $start-option-height-small;
    }

    &:hover {
      transform: translateY(-1px);
    }

    .icon {
      background-color: #f0f0f0;
      color: #606060;
      float: left;
      font-size: 175%;
      height: $start-option-height;
      line-height: $start-option-height;
      width: $start-option-height;

      @media (max-width: $medium-width) {
        height: $start-option-height-medium;
        line-height: $start-option-height-medium;
        width: $start-option-height-medium;
      }

      @media (max-width: $small-width) {
        height: $start-option-height-small;
        line-height: $start-option-height-small;
        width: $start-option-height-small;
      }
    }

    .small {
      font-size: 50%;
      font-weight: 300;
    }
  }
}

.plan-container {
  margin: 0 20px;
}

.plan.item {
  background-color: #fff;
  border-radius: 3px;
  height: 510px;
  margin: 0 -8px 60px;
  max-width: 310px;
  position: relative;
  text-align: center;
  width: 90%;

  small {
    color: rgba(0, 0, 0, 0.33);
    font-size: 12px;
  }

  .header {
    border-radius: 3px;
    border-top-style: solid;
    border-top-width: 3px;
    height: 180px;
    padding-top: 10px;
  }

  .body {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    padding-top: 20px;
  }

  .name {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .price {
    font-size: 46px;
    line-height: 1.2;
  }

  &.standard {
    transform: rotateY(8deg);

    .header {
      border-color: #4cb2e3;
    }
  }

  &.enterprise {
    transform: rotateY(-8deg);

    .header {
      border-color: #65bca2;
    }
  }

  &.premium {
    height: 530px;
    margin-top: -15px;
    z-index: 1;

    .header {
      border-color: #f89c41;
      padding-top: 30px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 14px;
    line-height: 1.3;
    list-style-type: none;
    padding: 8px 12px;
  }

  h2 {
    letter-spacing: -0.03em;
    text-transform: uppercase;
    font-weight: 500;
  }

  .btn {
    display: block;
    font-size: 22px;
    margin: 15px;
    padding: 6px;
  }
}

.warning {
  margin: 0 auto;
  padding: 30px;

  .btn {
    color: rgba(0, 0, 0, 0.35);
    display: block;
    font-size: 1.2em;
    line-height: 1.8;

    .icon {
      font-size: 2.2em;
      line-height: 1;
    }
  }
}

.discount {
  max-width: 400px;
  text-align: center;
}

.testimonial {
  font-size: 18px;
  margin: 0 auto 80px;
  max-width: 560px;

  @media (min-width: 700px) {
    float: left;
    width: 50%;
  }

  blockquote {
    margin: 40px;
    text-align: left;

    &::before,
    &::after {
      color: #ddd;
      content: '\e793';
      display: inline-block;
      font-family: 'icomoon';
      font-size: 1.3em;
      line-height: 0;
    }

    &::before {
      transform: rotate(180deg);
    }
  }

  img {
    border-radius: 35px;
    height: 60px;
    margin-right: 15px;
    vertical-align: middle;
    width: 60px;
  }
}
