<!DOCTYPE html>
<html>
{% capture pageTitle %}{% if page.title %}Help – {{ page.title }}{% else %}Help{% endif %}{% endcapture %}
{% include head.html %}

<body>
    {% assign paths = 'extensions|templates|rest api|enterprise' | split: '|' %}
    <div class="container">
        <div class="left-column">
            <div class="logo">
                <a href="/">
                    <img src="/img/logo.png">
                    </img>
                </a>
            </div>
            {% capture pageUrl %}{{ page.url | replace: 'index.html', '' }}{% endcapture %}
            {% if pageUrl == '/help/' %}
            <a class="btn active">Help</a> {% else %}
            <a class="btn" href="/help/">Help</a> {% endif %} {% for path in paths %} {% capture url %}/help/{{ path | replace: ' ', '-' }}/{% endcapture %} {% capture pageUrl %}{{ page.url | replace: 'index.html', '' }}{% endcapture %} {% if pageUrl == url %}
            <a class="btn active">{{ path }}</a> {% else %}
            <a class="btn" href="/help/{{ path | replace: ' ', '-' }}/">{{ path }}</a> {% endif %} {% endfor %}
        </div>
        <div class="right-column">
            <div class="title">{{ page.title }}</div>
            {{ content }} {% include footer.html %}
        </div>
    </div>
    <script>
    var activeBtnElt = document.querySelector('.btn.active');
    if(activeBtnElt) {
        var headerElts = Array.prototype.slice.call(document.querySelectorAll('h1,h2'));
        var headerContainer = document.createElement('div');
        headerContainer.className = 'headers';
        headerElts.forEach(function(elt) {
            if (elt.id) {
                var headerElt = document.createElement('a');
                headerElt.href = '#' + elt.id;
                headerElt.textContent = elt.textContent;
                if (elt.tagName === 'H1') {
                    headerElt.className = 'header';
                } else {
                    headerElt.className = 'small header';
                }
                headerContainer.appendChild(headerElt);
            }
        });
        activeBtnElt.parentNode.insertBefore(headerContainer, activeBtnElt.nextSibling);
    }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
    {% include analytics.html %}
</body>

</html>
