<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% assign paths = 'privacy|terms' | split: '|' %}
    <div class="container">
        <div class="left-column">
            <div class="logo">
                <a href="/">
                    <img src="/img/logo.png">
                    </img>
                </a>
            </div>
            {% for path in paths %} {% capture url %}/{{ path | replace: ' ', '-' }}/{% endcapture %} {% capture pageUrl %}{{ page.url | replace: 'index.html', '' }}{% endcapture %} {% if pageUrl == url %}
            <a class="btn active">{{ path }}</a>
            {% else %}
            <a class="btn" href="/{{ path }}/">{{ path }}</a>
            {% endif %} {% endfor %}
            <a class="btn" href="https://classeur.zendesk.com/hc">Help</a>
        </div>
        <div class="right-column">
            <div class="title">{{ page.title }}</div>
            {{ content }} {% include footer.html %}
        </div>
    </div>
    {% include analytics.html %}
</body>

</html>
