<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% assign paths = 'privacy|terms' | split: '|' %}
    <div class="container">
        <div class="left-column">
            <div class="logo">
                <a href="/">
                    <img src="/img/logo.png">
                    </img>
                </a>
            </div>
            {% for path in paths %} {% capture url %}/{{ path }}/index.html{% endcapture %} {% if page.url == url %}
            <a class="btn active">{{ path }}</a>
            {% else %}
            <a class="btn" href="/{{ path }}/">{{ path }}</a>
            {% endif %} {% endfor %}
        </div>
        <div class="right-column">
            {{ content }} {% include footer.html %}
        </div>
    </div>
    {% include analytics.html %}
</body>

</html>
